@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">This user can't be deleted at this moment. Please try again later.</h2>    


<p>@Html.ActionLink("Back to list","Index","UserViews")</p>